<title>Home</title>

<div class="container text-center">
  
  <h1>Welcome to home page. Please</h1>
  {{# if user}}
   <h3>Select a poll to see the results and vote, or <a href="/new_poll">or make a new poll!</a></h3>
   {{else}}
    <h3><a href="/register">Register</a> or <a href="/login">Login</a> to continue!</h3>
    {{/if}}
</div>