<title>Home</title>

<div class="container text-center">
  
  <h1>Welcome to home page. Please</h1>
  {{# if user}}
   <h3>Select a poll to see the results and vote, or make a <a href="/new_poll">new</a> poll!</h3>
   {{else}}
    <h3>Select a poll to see the results and vote, or <a href="/login">login</a> / <a href="/register">register</a> to make a new poll</h3>
    {{/if}}
</div>
<div class="jumbotron container" >
{{#each title}}
  <a href="/show/{{_id}}" class="list-group-item">
    {{title}}
  </a>
{{/each}}
</div>
