<title>New poll</title>
<link rel="stylesheet" href="/stylesheets/poll.css" type="text/css" />


<div class="jumbotron container" align="center">
    <h1>Make new poll</h1>
    <form>
        <label>Title:</label> <br>
        <input class="form-control">
        <label>Options:</label> <br>
        <textarea class="form-control"> </textarea>
    </form>
</div>