<title>New poll</title>
<link rel="stylesheet" href="/stylesheets/poll.css" type="text/css" />
<script type="text/javascript" src="/javascript/javascript.js"></script>

<div class="jumbotron container" align="center">
    <h1>Make a new poll</h1>
    <form method="post" id="newPoll">
            <input type="hidden", name="_csrf", value="{{csrfToken}}">  
            <label>Title:</label> <br>
            <input  name="title" class="form-control title">
            <label>Options:</label> <br>
            <input name="options" class="form-control option"> </input>
            <label>Options:</label> <br>
            <input name="options" class="form-control option"> </input>
            <button type="sybmit" id="submit" class="btn btn-danger">Create</button>
            <button style="margin-left:2px; margin-top:5px" id="add" class="btn btn-info" type="button">add option</button>
    </form>
</div>